body {
    font-family: Roboto, 'Segoe UI', 'Tahoma', sans-serif;
    color:white;
    background-color: rgba(53,54,58,1);
    -webkit-font-smoothing: antialiased;
}

.logo {
    margin-top: 0;
    padding-top: 58px;
    padding-left: 222px;
}

h1 {
    font-size: calc(100% + 6px);
    font-weight: 400;
    line-height: calc(100% + 6px);
    padding-left: 70px;
}

span {
    font-size: calc(100% - 2px);
}

.fundo {
    margin-inline-end: auto;
    margin-inline-start: auto;
    max-width: 600px;
}

.learn-more-button {
    color: rgb(138, 180, 248);
    text-decoration: none;
}

.pontos_info {
    flex-basis: 285px;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
}

.pontos-first {
    margin-inline-end: 30px;
}